@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@200;300;0,400;0,;600;700;1,100&display=swap'); 
:root{
    --primary-color: hsl(32, 100%, 50%);
    --grey:#cac7c7;
    --overlay:#0000009c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 200%;
    border-radius: 5px;
    display: block;
    object-fit: cover;
    
}
.center{
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 5rem 0 5rem 0;
}
.bg-primary{
    background-color: var(--primary-color);
    color: white;
}
hr{
    border-color: var(--primary-color);
}
.grid-item-one i,.grid-item-two i{
    font-size: 1.5rem;
}
/*header section*/
header{
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#logo{
    display: none;
}
nav li a{
    color: white;
    padding: 0.0625rem;
    display: block;
}
nav li a:hover{
    color: var(--primary-color);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}
/* HOME*/
.bg-home{
    background: url("img/bgpic.avif");
    height: 800px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-blend-mode: multiply;
    background-color: var(--overlay);
}
.home hr{
    color:var(--primary-color);
    margin-top:1.2em;
    
}
.home p{
    font-size: 2rem;
    margin-top: 1em;
    font-weight: 300;
}
.btn{
    font-weight: 500;
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    font-family: inherit;
    padding: 0.8rem;
}
/* ABOUT */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.card{
    width: 23rem;
    height:27em;
    margin: 3rem;
    box-shadow: 2px 5px 7px 1px;
    position: relative;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: white;
    color: #000;
}
.card:hover{
    transform: translateY(-3px);
}
.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.upper-section{
    height: 35%;
    background: #000;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.image-container{
    position: absolute;
    top: 17%;
    left: 27%;
}
.lower-section{
    height: 65%;
    padding: 0.095em;
}
.info{
    margin: 25%;
}
.card-name{
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: oswald,sans-serif;
}
.card-title{
    text-transform: uppercase;
    font-weight: 300;
}
.card-line{
    color: var(--grey);
    width: 80%;
    margin: 1rem auto;
}
.card-description{
    font-family: Montserrat,sans-serif;
}
.social-icons{
    
    margin-top: 0.5em;
    cursor: pointer;
}
.fa-facebook{
    color: #3f62a9;
}
.fa-instagram{
    color: #ef1e43;
}
.fa-x-twitter{
    color: black;
}

/* PURCHASE */
.purchase p{
    font-size: 3.5rem;
    font-weight: 900;
}
.bg-purchase{
    background: url(img/hotelamb.avif);
    background-position: center;
    background-size: cover;
    color: white;
    background-color: var(--overlay);
    background-blend-mode: multiply;

}

/* headings*/
h1{
    font-size: 4.5rem;
    line-height: 1.2;
    font-weight: 700;
}

.btn:hover{
    cursor:pointer;
}
.btn:active{
    transform: translateY(2px);
}
.btn-download,.btn-subscribe,.btn-order,.btn-purchase{
    background-color: var(--primary-color);
    font-weight: bold;
    padding: 0.4em 1.3em;
    border: 1px solid rgba(59,58,58,0.219);
    text-shadow: 0px 1px 2px #000;
    box-shadow: -4px 3px 1px 1px var(--primary-color);
    margin-top: 2em;
}
.btn-order{
    margin-bottom: 1em;
}
.btn-download:hover,.btn-subscribe:hover,.btn-order:hover,.btn-purchase:hover{
    position: relative;
    top: 1px;
}

.btn-submit{
    color: var(--primary-color);
    background-color: white;
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid;
}
.btn-submit:hover{
    background-color: var(--primary-color);
    color: white;
    
}

/* INFORMATION*/
.fa-circle-check{
    color: var(--primary-color);
    font-size: 0.5rem;
}
.information-one li,.information-two li{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0.3em;
}
.information-two{
    background: var(--grey);
    

}
/* FEATURES*/
h2,h3,h4,h5{
    font-size: 3rem;
    padding: 0.2em;
    margin-bottom: 1em;
    line-height: 1.2;
    font-weight: 600;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}
.features-card{
    border: 1px solid white;
    width: 29rem;
    font-size: 1.5rem;
    margin: 3rem;
    padding: 1.5rem;
}
.features-card i{
    font-size: 100px;
}
h6{
    font-size: 2.5rem;
    margin: 0.5em;
    font-weight: 400;
}
/* CONTACT */
.contact label{
    font-size: 1.4rem;
}
input[type="text"],input[type="email"],textarea{
    width: 100%;
    border-radius: 5px 5px;
    outline:none;
    padding: 0.3rem;
    background: transparent;
    font-size: 1.5rem;
    color: white;
    border: 2px solid ;
    margin-bottom: 1em;
    font-family: inherit;
}
input[type="text"]:focus,input[type="email"]:focus,textarea:focus{
    outline: 2px solid;
}


/* FOOTER */
footer{
    background-color: rgba(255, 89, 0, 0.968);
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* MEDIA QUERIES */
@media(min-width:360px){
    .card-description{
        font-weight: 100;
        font-size: 1rem;
    }
    .social-icons{
        font-size: 2rem ;
        font-weight:300 ;
    }
    .image-container{
        position: absolute;
        top: 17%;
        left: 19%;
}

.home h1{
    font-size: 2.5rem;
    font-weight: 300;
}
.home p{
    font-size: 2rem;
}
.btn-download{
    font-size: 1.2rem;
    margin-top: 1em;
}
.features-card{
    
    font-size: 1.4rem;
}
.grid-item-one{
    width: 90vw;
    
}
.grid-item-two{
    width: 90vw;
    font-size: 1.2rem;
    font-weight: inherit;
    
}
.btn-order,.btn-subscribe{
    font-size: 1.5rem;
}
}

@media(min-width:480px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
      
    }
    #logo{
        display: unset;
        height: 70px;
        width: 80px;

    }
    nav ul{
        display: flex;
    }
    nav li a{
        color: black;
        margin-right: 0.5em;
        font-weight: 600;
    }
}

@media(min-width:720px){
    .purchase p{
        font-size: 2rem;
    }
    .fa-mug-hot{
        font-size: 1.5em;
    }

.card-name{
    font-size: 2rem;
}

.card-line{
    width: 100%;
}
.card-description{
    font-size: 1.2rem;
}
    h1{
        font-size: 4.5rem;
    }
    h2,h3,h4,h5{
        font-size: 3.5rem;
        padding: 0.2em;
        margin-bottom: 1em;
        line-height: 1.2;
        font-weight: 600;
    }
    .home,.information-one,.information-two{
        width: 80%;
        margin: auto;
    }
    .btn{
        width: 25rem;
    }
    .image-container{
        left: 30%;
    }
    .btn-purchase{
        font-size: 2rem;
    }
    .grid-item-one{
        width: 40rem;
    }
    .grid-item-two{
        width: 40.2rem;
    }
}

@media(min-width:900px){
    nav li a{
        margin-right: 1em;
    }
    .information-one{
        display:flex;
        flex-direction: column;
        }
    .grid-item-one,.grid-item-two{
        margin: auto;
    }
    h3{
        font-size: 2.2rem;
    }
    .purchase{
        padding: 10rem;
    }
    form{
        width: 55rem;
    }
    .contact label{
        font-size: 1.5rem;
    }
    footer{
        font-size: 1.8rem;
        font-weight: 300;
    }
}

@media(min-width:1200px){
    .center{
        max-width: 1200px;
        margin: auto;
    }
    header{
        justify-content: space-evenly;
    }
}

